<div class="wrapper fadeInDown">
    <div id="formContent">
        <h1>Add Quizes</h1>

        <!-- Add Category -->
        <form (ngSubmit)="addQuizes()">

            <input [(ngModel)]="data.title" name="title" type="text" placeholder="title">

            <div class="form-floating m-3">

                <textarea class="form-control" mat-input [(ngModel)]="data.description" name="description"
                    placeholder="descriptions" id="floatingTextarea2"
                    style="height: 100px;background-color: rgb(248, 244, 244);">
                    </textarea>

                <label style="color: grey;" for="floatingTextarea2">Click to add Description</label>

                <div class="row">
                    <div class="col-md-6 mt-3">
                        <input [(ngModel)]="data.maxMarks" name="maxMarks" type="text" placeholder="Max Marks">
                    </div>
                    <div class="col-md-6 mt-3">
                        <input [(ngModel)]="data.numberOfQuestions" name="numberOfQuestions" type="text"
                            placeholder="Total Questions">
                    </div>

                    <section class="example-section mt-3 text-start">
                        <mat-slide-toggle name="active" class="example-margin" [(ngModel)]="data.active"
                            [color]="color">
                            Active:
                        </mat-slide-toggle>
                    </section>

                    <mat-form-field appearance="fill" class="mt-3">
                        <mat-label>Category</mat-label>
                        <mat-select [(ngModel)]="data.category.cid" name="cid">
                            <mat-option>--</mat-option>
                            <mat-option *ngFor="let i of category" [value]="i.cid">
                                {{i.title}}
                            </mat-option>
                        </mat-select>

                    </mat-form-field>


                </div>

            </div>
            <input type="submit" class="fadeIn fourth" value="Add Quiz">
        </form>

    </div>
</div>