<div class="card">

    <mat-card>
        <mat-action-list>
            <div mat-subheader>
                <h1>Menu</h1>
            </div>


            <button mat-list-item routerLink="/adminDashboard"> HOME<mat-icon mat-list-icon>home</mat-icon> </button>
            <button mat-list-item routerLink="/adminDashboard/profile"> Profile<mat-icon mat-list-icon>nature
                </mat-icon>
            </button>
            <button mat-list-item routerLink="/adminDashboard/addCategory"> Add Category<mat-icon mat-list-icon>add
                </mat-icon> </button>
            <button mat-list-item routerLink="/adminDashboard/viewCategory"> Categories<mat-icon mat-list-icon>
                    add_circle_outline
                </mat-icon>
            </button>
            <button mat-list-item routerLink="/adminDashboard/addQuizes">Add Quiz<mat-icon mat-list-icon>add_circle
                </mat-icon> </button>
            <button mat-list-item routerLink="/adminDashboard/viewQuizes"> Quizzes<mat-icon mat-list-icon>quiz
                </mat-icon>
            </button>
            <button mat-list-item routerLink="/logout"> Logout<mat-icon mat-list-icon>logout </mat-icon>
            </button>


        </mat-action-list>
    </mat-card>
</div>