<div class="wrapper fadeInDown">
  <div id="formContent">
    <h1>LOGIN</h1>

    <!-- Login Form -->
    <form (ngSubmit)="loginform()">
      <input [(ngModel)]="data.username" name="username" type="text" id="login" class="fadeIn second"
        placeholder="username">
      <input [(ngModel)]="data.password" type="text" id="password" class="fadeIn third" name="password"
        placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

  </div>
</div>