<div class="card">

    <mat-card>
        <mat-action-list>
            <div mat-subheader>
                <h1>Menu</h1>
            </div>


            <button mat-list-item routerLink="/userDashboard/allQuizes"> HOME<mat-icon mat-list-icon>home</mat-icon>
            </button>

            <button mat-list-item routerLink="/userDashboard/profile"> Profile<mat-icon mat-list-icon>nature</mat-icon>
            </button>
            <button mat-list-item routerLink="/userDashboard/categories">Categories<mat-icon mat-list-icon>folder
                </mat-icon></button>




        </mat-action-list>
    </mat-card>
</div>